.DS_Store
config/
node_modules/
server/
dist/
src/
.editorconfig
.gitignore
.npmignore
global.config.js
karma.conf.js
package-lock.json
proxy.config.js
ts-config-build.json
tsconfig.json
tslint.json
webpack.config.js
npm-debug.log
zip
.idea
*.swp
